
@font-face {
  font-family: 'BasisGrotesque';
  src: url('../fonts/BasisGrotesquePro-Light.ttf');
  src: local('BasisGrotesquePro-Light'), local('Basis Grotesque Pro Light'),
  url('../fonts/BasisGrotesquePro-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'BasisGrotesque';
  src: url('../fonts/BasisGrotesquePro-Regular.ttf');
  src: local('BasisGrotesquePro-Regular'), local('Basis Grotesque Pro Regular'),
  url('../fonts/BasisGrotesquePro-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.otf');
  src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
  url('../fonts/Gilroy-ExtraBold.otf') format('opentype');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Light.otf');
  src: local('Gilroy Light'), local('Gilroy-Light'),
  url('../fonts/Gilroy-Light.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.ttf');
  src: local('Roboto-Thin'), local('Roboto-Thin'), local('Roboto'),
  url('../fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@mixin BasisGrotesque($weight:null){
  font-family: 'BasisGrotesque', 'Open Sans', Arial, sans-serif;
  @if $weight == 'bold'{ font-weight: 500;} @else {font-weight: 400;}
}
@mixin Gilroy($weight: null){
  font-family: 'Gilroy', 'Open Sans', Arial, sans-serif;
  @if $weight == 'bold'{ font-weight: 600;} @else {font-weight: 400;}
}
@mixin Roboto{
  font-family: 'Roboto', Tahoma, Arial, sans-serif;
}

html, body{
  @include BasisGrotesque();
  line-height: 1.2em;
  font-size: 16px;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4{
  @include Gilroy('bold');
  line-height: 1.25;
}
h2, .h2{
  @include fluidFontSize(28px, 42px, 600px, $max-width, 36px);
  margin-bottom: 40px;

}

h3{
  @include fluidFontSize(26px, 35px, 600px, $max-width, 28px);
  letter-spacing: 1px;
  margin-bottom: 40px;

}

h4{
  @include fluidFontSize(22px, 29px, 600px, $max-width, 22px);

}

.small,
small{
  font-size: 12px;
}

.pointer{
  cursor: pointer;
}

p{
  margin-bottom: 8px;
  line-height: 1.15;
}

a{
  text-decoration: none;
  color: $black;
  &:hover{
    text-decoration: underline;
  }
  &.dashed-lnk{
    border-bottom: 1px dashed currentColor;
    text-decoration: none;
    &:hover{
      text-decoration: none;
      border-bottom-color: transparent;
    }
  }
}


.invert-colors{
  color: $white;
  a{
    color: $white;
    }
}
.error{
  color: $danger-color;
}
*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-muted{
  color: $muted-color;
  a{
    color: $muted-color;
  }
}
.text-dark{
  color: black;
}
.text-uppercase{
  text-transform: uppercase;
}
.strike{
  text-decoration: line-through;
}
.text-lead{
  font-size: 18px;
  margin-bottom: 12px;
}
.text-center{
  text-align: center;
}
.dotted-list{
  list-style-type: none;
  li{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      left: -18px;
      top: 9px;
      width: 2px;
      height: 2px;
      background: currentColor;
    }
  }
  &.inner-dots li{
    padding-left: 18px;
    margin: 3px 0;
    &:before{
      left: 0;
    }
  }
}