.hero{
  height: 100%;
  background-color: #697b89;
}
.contact-email{
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  @include spacing($max-width: null);

  @include for-phone-only{
    display: none;
  }
  a{
    float: right;
  }
}

