@mixin flexbox(
  $display: flex,
  $direction: column,
  $placeContent: null,
  $placeItems: null,
  $wrap: nowrap,
  $shrink: 0,
  $grow: 0,
  $alignContent: null,
  $justifyContent: null,
  $alignItems: null,
  $justifyItems: null) {

  display: $display;
  flex-direction: $direction;

  @if $placeContent == null {
    @if $alignContent   { align-content: $alignContent; }
    @if $justifyContent { justify-content: $justifyContent; }
  } @else {
    place-content: $placeContent;
  }

  @if $placeItems == null {
    @if $alignItems   { align-items: $alignItems; }
    @if $justifyItems { justify-items: $justifyItems; }
  } @else {
    place-items: $placeItems;
  }

  flex-wrap: $wrap;
  flex-shrink: $shrink;
  flex-grow: $grow;
}

@mixin imgRetina($image, $extension, $position: top, $repeat: no-repeat) {
  background: url($image + '.' + $extension) $repeat $position;
  background-size: cover;
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background: url($image + '@2x' + '.' + $extension) $repeat $position;
    background-size: cover;
  }
}

// fluid font size

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

@function calcFluidFontSize($f-min, $f-max, $w-min, $w-max, $units: px) {
  $f-min: strip-unit($f-min);
  $f-max: strip-unit($f-max);
  $w-min: strip-unit($w-min);
  $w-max: strip-unit($w-max);

  $k: ($f-max - $f-min)/($w-max - $w-min);
  $b: $f-min - $k * $w-min;

  $b: $b + $units;

  @return calc( #{$k} * 100vw + #{$b} );
}

@mixin fluidFontSize($f-min, $f-max, $w-min, $w-max, $fallback: false) {
  font-size: $f-min;
  @media (min-width: $w-min) {
    @if ($fallback) {
      font-size: $fallback;
    }
    font-size: calcFluidFontSize($f-min, $f-max, $w-min, $w-max, px);
  }
  @media (min-width: $w-max) {
    font-size: $f-max;
  }
}

@mixin spacing ($max-width: $max-width){
  max-width: $max-width;
  padding: 20px;
  margin: auto;
  @include for-tablet-portrait-up{
    padding: 30px 16px;
  }
}

//media
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

@mixin base-triangle($triangle-width) {
  height: $triangle-width;
  width: $triangle-width;
  content:"";
  position:absolute;
}

@mixin base-triangle($triangle-width) {
  height: $triangle-width;
  width: $triangle-width;
  content:'';
  display: inline-block;
  border-width: 0 1px 1px 0;
  border-style: solid;
  margin: 0 2px;
  position: relative;
}

@mixin triangle($position, $triangle-width: 4, $color: $black) {
  @if $position == bottom {
    &::after {
      @include base-triangle($triangle-width);
      transform: rotate(45deg);
      border-color: $color;
      //top: -2px
    }
  }

  @if $position == top {
    &::after {
      @include base-triangle($triangle-width);
      transform: rotate(-135deg);
      border-color: $color;
      //top: 4px;
    }
  }
}
@mixin fixed-header-reserve{
  margin-top: 60px;
  @media (max-width: 1090px) {
    margin-top: 120px;
  }
  @media (min-width: 1090px) {
    margin-top: inherit;
  }
}
