//utilities
@import "normalize";
@import "variables";
@import "mixins";
@import "fonts";


//plugins
@import "tooltipster.bundle.min";
@import "jquery.mCustomScrollbar";
@import "utils/accordion.js";
@import "jquery.modal.min";
@import "swiper.min";

//utils
@import "utils/form-elmts";
@import "utils/animated-hover-link";
@import "utils/tooltipster-custom-theme";
@import "utils/color-picker";
@import "utils/size-picker";
@import "utils/css-accordion";
@import "utils/swiper-override";
//modals
@import "modals/modal";
@import "modals/add-review";
@import "modals/chooze-size";
@import "modals/report-receipt";

//pages
@import "hero";
@import "components/catalog";
@import "components/product-holder";
@import "components/customer-reviews";
@import "components/payment-and-delivery";
@import "components/about-us";
@import "components/imagery";
@import "components/live-photos";
@import "components/brand-friends";
@import "components/faq";

//components
@import "components/navbar";
@import "components/hamburger";
@import "components/hero-slides";
@import "components/footer";
@import "components/cart-tooltip";
@import "components/catalog-paralax";
@import "components/friends";
@import "components/advice-form";
@import "components/product-combination";
@import "components/order-form";
@import "components/showroom";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  ::selection{
    background: $black;
    color: $white;
  }
}

.max-width-holder{
  max-width: $max-width;
  margin: auto;
}
.svg-sprite{
  overflow: hidden;
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}
.m-0{
  margin: 0;
}
.inner-page{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  @include for-tablet-portrait-up{
    padding: 0 20px;
  }
  &__content{
    flex: 1;
  }
}
.show-phone{
  display: none;
}
@include for-phone-only(){
  .hide-phone{
    display: none !important;
  }
  .show-phone{
    display: block !important;
  }
}

.l-side-space {
  @media (min-width: 1090px) {
    margin-left: 12.8% !important;
  }
}


.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  background: $muted-color !important;
}
.mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail{
  display: none !important;
}