.ac {
  box-sizing: border-box;
  // Question class
  > .ac-q {
    padding: 10px 0;
    margin: 0;
    text-decoration: none;
    display: block;
    cursor: pointer;
    position: relative;
    &:hover,
    &:focus,
    &:active{
      outline: none;
    }
    &::after {
      content: '';
      background-image: url('./../../img/svg/plus2.svg');
      background-size: 12px 12px;
      background-position: center;
      background-repeat: no-repeat;
      width: 12px;
      height: 12px;
      right: 2px;
      position: absolute;
    }
  }

  // Answer class
  > .ac-a {
    overflow: hidden;
    transition: all ease;
    padding: 0 .85em;
  }

  // Hide content when Javascript is enabled
  &.js-enabled {
    > .ac-a {
      visibility: hidden;
    }
  }

  // Active class
  &.is-active {

    > .ac-a {
      visibility: visible;
      margin-bottom: 1em;
    }

    > .ac-q {
      &::after {
        background-image: url('./../../img/svg/minus.svg');
      }
    }
  }
}