.animated-lnk{
  position: relative;
  color: $black;
  text-decoration: none;
  &::before,
  &::after{
    content: "";
    position: absolute;
    bottom: -3px;
    width: 0;
    height: 1px;
    transition: all .2s ease-in-out;
    opacity: 0;
    background-color: $black;
  }
  &::before {
    left: 50%;
  }
  &::after {
    right: 50%;
  }
  &:hover{
    text-decoration: none;
    &::before,
    &::after {
      width: 50%;
      opacity: 1;
    }
  }
}

.invert-colors{
  .animated-lnk{
    color: $white;
    &::before,
    &::after{
      background-color: $white;
    }
  }
}

.navbar{
  .animated-lnk{
    &::before,
    &::after{
      bottom: -6px;
    }
  }
}