.color-picker-holder{
  position: relative;
}
.color-picker{
  cursor: pointer;
  margin: 40px 0 0;
  @include flexbox($direction: row, $alignItems: center);
  @include triangle('bottom', 8px, $black);
  &.active{
    @include triangle('top', 8px, $black);
    &::after{
      top: 3px;
    }
  }
  &__name{
    font-size: 20px;
    margin-right: 6px;
  }
  &__clr{
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin:-6px 10px 0 0;
    border: 1px solid $muted-color;
  }
  &__items{
    position: absolute;
    z-index: 5;
    top: calc(100% + 20px);
    left: 0;
    @include flexbox($direction: row, $wrap: wrap);
    border: 1px solid $stroke-color;
    padding: 6px;
    background: $white;
    height: 0;
    overflow: hidden;
    opacity: 0;
    &.active{
      height: auto;
      opacity: 1;
    }
    @include for-tablet-portrait-up{
      width: 120%;
      left: -20px;
    }
  }
  &__item{
    @include flexbox();
    flex: 0 0 25%;
    padding: 3px;
    min-width: 100px;
    text-align: center;
    border: 1px solid $white;
    transition: .35s ease-in-out;
    cursor: pointer;
    img{
      width: 90%;
      margin: auto;
    }
    &:hover{
      border-color: #F2F3F4;
    }
    //TODO: make #F2F3F4 with transparent png
    &.selected{
      border-color: darken(#F2F3F4, 50%);
    }
  }

}