.css-accordion {
  overflow: hidden;
  border: 1px solid transparent;
  &__item {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid lighten($stroke-color, 10%);
    &-label {
      display: flex;
      justify-content: space-between;
      padding: 8px 0;
      background: $white;
      cursor: pointer;
      &:hover {
        background: darken($white, 2%);
      }
      @include triangle('bottom', 10px, lighten($stroke-color, 10%));
    }

    &-content {
      max-height: 0;
      padding: 0 12px;
      background: white;
      //transition: all .35s;
      color: rgb(87,87,86);
      width: 100%;
    }

    &-close {
      display: flex;
      justify-content: flex-end;
      padding: 1em;
      font-size: 0.75em;
      background: $white;
      cursor: pointer;

      &:hover {
        background: darken($white, 2%);
      }
    }
  }
  &__pictures{
    @include flexbox($direction: row, $justifyContent: space-between);
    margin: 0 -18px;
    &:not(:last-child){
      margin-bottom: 12px;
    }
    &>div{
      width: calc(50% - 9px);
      img{
        width: 100%;
      }
    }
  }
// action
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  input:checked {
    + .css-accordion__item-label::after {
      transform: rotate(-135deg);
      margin-top: 4px;
      }

    ~ .css-accordion__item-content {
      max-height: 100vh;
      padding: 8px 18px 12px;
    }
  }
}