.btn{
  display: inline-block;
  outline: none;
  outline: 0;
  padding: 14px 24px;
  margin: 8px 0;
  min-width: 100%;
  text-align: center;
  transition: all .2s ease-in-out;
  border-radius: 2px;
  cursor: pointer;
  @include Gilroy();
  font-size: 16px;
  &__dark{
    color: white;
    border: 1px solid $black;
    background: $black;
    &:hover,
    &:active{
      text-decoration: none;
      background: rgba($white, .2);
      color: $black;
    }
  }
  &__transparent{
      color: white;
      border: 1px solid $white;
      background: transparent;
    &:hover,
    &:active{
      text-decoration: none;
      background: rgba($white, .2);
      color: $white;
    }
  }
  &__secondary{
    border: 1px solid $form-input-gray;
    color: black;
    background: transparent;
    &:hover,
    &:active{
      text-decoration: none;
      background: black;
      color: $white;
    }
  }
  &__small{
    padding: 10px 43px;
    min-width: auto !important;
    font-size: 15px;
  }
  @include for-tablet-portrait-up(){
    min-width: 250px;
    width: auto;
    margin: 16px 14px;
  }
  &:disabled,
  .disabled,
  &:disabled:hover,
  .disabled:hover{
    background: lighten($black, 80%);
    border-color: lighten($black, 80%);
    cursor: inherit;
    color: $white;
  }
}

.form-input{
  border: 1px solid $muted-color;
  padding: 14px 13px;
  min-width: 100%;
  border-radius: 2px;
  margin: 8px 0;
  font-size: 16px;
  @include Gilroy();
  color: $black;
  &::placeholder{
    color: $muted-color;
  }
  @include for-tablet-portrait-up(){
    min-width: 250px;
    margin: 16px 14px;
    width: auto;
    &::placeholder{
      color: transparent;
    }
  }
}
.form-text{
  margin: 6px 0;
  font-size: 13px;
  @include for-tablet-portrait-up{
    margin: 4px 0;
  }
}
.form-group{
  margin-bottom: 30px;
}

.input-group{
  margin-bottom: 22px;
  .promo-code{
    @include flexbox($direction: row, $justifyContent: space-between);

    & > div{
      width: 47%;
    }
    .btn, input{
      padding: 10px 14px;
      width: 100%;
      min-width: auto;
    }
    .btn{
      margin: 0 0 8px;
    }
  }
  &.column-direction{
    flex-direction: column;
    align-items: flex-start;
    .label-name{
      margin-bottom: 6px;
    }
  }
  &.v-align-top{
    align-items: flex-start;
  }

  @include for-tablet-portrait-up{
    @include flexbox($direction: row, $alignItems: center);

    .label-name{
      display: block;
      width: 22%;
    }
  }
  .input-holder{
    @include for-tablet-portrait-up{
      max-width: 300px;
      flex: 1;
      &.w-100{
        max-width: inherit;
        width: 100%;
      }
    }
    textarea{
      width: 100%;
      resize: none;
      height: 100px;
      border: 1px solid $form-input-gray;
      border-radius: 2px;
      padding: 10px 12px;
    }
    .form-input{
      padding: 10px 12px;
      width: 100%;
      border-color: $form-input-gray;
      margin: 0;
    }
  }
  .error{
    font-size: 14px;
    margin: 6px 0;
    display: block;
  }
}

.custom-radio{
  @include flexbox($alignItems: center, $direction: row-reverse, $justifyContent: space-between);
  position: relative;
  border-bottom: 1px solid $form-input-gray;
  padding: 8px 0;
  @include for-tablet-portrait-up{
    flex-direction: row;
    justify-content: flex-start;
    border: none;
    margin-bottom: 11px;
    padding: 0;
  }
  input[type="radio"]{
    position:absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  .checkmark {
    display: block;
    margin-right: 10px;
    height: 22px;
    width: 22px;
    border-radius: 100%;
    border: 1px solid $form-input-gray;
    background: $white;
    box-shadow: inset 0 0 0 5px $white;
  }
  input:checked ~ .checkmark {
    background: $form-input-gray;
  }
}
.size-select{
  padding: 10px 12px;
  border: 1px solid $form-input-gray;
  width: 134px;
  position: relative;
  @include triangle('bottom', 8px, $black);
  &::after{
    float: right;
    top: 3px;
  }
}
.number-input{
  @include flexbox($direction: row, $justifyContent: space-between);
  border: 1px solid $form-input-gray;
  width: 134px;
  &__action{
    padding: 10px 12px;
    svg{
      width: 15px;
      height: 15px;
    }
  }
  input{
    border: none;
    padding: 10px 12px;
    width: 56px;
    text-align: center;
    font-size: 16px;
    @include Gilroy();
    color: $black;
    &:active,
    &:focus{
      outline: none;
    }
  }
}