.size-picker{
  margin: 22px 0;
  &__item{
    border: 1px solid $stroke-color;
    text-transform: uppercase;
    display: inline-block;
    min-width: 48px;
    text-align: center;
    margin: 2px 4px;
    height: 27px;
    line-height: 27px;
    transition: .35s all;
    cursor: pointer;
    &:first-child{
      margin-left: 0;
    }
    &:hover,
    &.selected{
      background: $black;
      color: $white;
    }
  }
  &__links{
    margin: 16px 0;
    a:first-child{
      margin-right: 10px;
    }
  }
}