@include for-phone-only{
  .swiper-container{
    width: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    @include flexbox($direction: column, $justifyContent: center, $alignItems: center);
  }
  .swiper-pagination{
    .swiper-pagination-bullet{
      background: transparent;
      border: 1px solid $white;
      opacity: 1;
      &.swiper-pagination-bullet-active{
        background: $white;
      }
    }
    &.black{
      .swiper-pagination-bullet{
        border: 1px solid $black;
        &.swiper-pagination-bullet-active{
          background: $black;
        }
      }
    }
  }
}
@include for-tablet-portrait-up{
  .swiper-container{
    margin-left: 0;
    margin-right: 0;
    overflow: visible;
    .swiper-wrapper{
      flex-direction: column;
    }
    .swiper-slide{
      height: auto;
    }
  }

}