.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized{
  .tooltipster-box {
    background: #D8D3C9;
    border: none;
    border-radius: 2px;
    box-shadow: 3px 4px 6px rgba($black, .2);
  }
  .tooltipster-content {
    color: $black;
    padding: 30px;
    max-width: 240px;
    p{
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    a{
      color: $black;
    }
    img{
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .tooltipster-arrow{
    display: none;
  }
}
.tooltip_templates{
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}