.add-review{
.rating{
  @include flexbox($direction: row, $justifyContent: space-between);
    @include for-tablet-portrait-up{
      justify-content: flex-start;
    }
    label{
      display: block;
      border: 1px solid $stroke-color;
      padding: 0 4px;
      min-width: 28px;
      height: 28px;
      line-height: 28px;
      text-align: center;
      @include for-tablet-portrait-up{
        margin: 0 12px 6px 0;
        cursor: pointer;
      }
    }
    input[type="radio"]{
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
      z-index: -1;
    }
    input[type="radio"]:checked + label{
      background: $black;
      color: $white;
    }
  }
  textarea{
    margin-bottom: 20px;
    min-height: 240px;
    font-size: 14px;
    @include for-tablet-portrait-up{
      margin-bottom: 0;
      min-height: 140px;
    }

  }

  &__cols{
    @include flexbox($direction: row, $wrap: wrap, $justifyContent: space-between);
    & > div,
    .input-group{
      min-width: 100%;
      width: 100%;
      @include for-tablet-portrait-up{
        min-width: calc(50% - 8px);
        width: calc(50% - 8px);
      }
      .input-holder{
        width: 100%;
      }
      .btn{
        min-width: 100%;
        margin: 0;
      }
    }
  }

}
