.chooze-size{
  padding: 0;
  border: none;
  @include for-tablet-portrait-up{
    padding: 20px;
  }
  table{
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
  }
  th{
    background: rgba($stroke-color, .5);
    font-weight: 400;
  }
  td,th{
    border: 1px solid $muted-color;
    text-align: center;
    padding: 16px 10px;
    width: 25%;
  }
}