.blocker{
  background: rgba($black, .3);
  padding: 10px;
}
.modal{
  top: 70px;
  padding: 16px;
  @include for-tablet-portrait-up{
    top: inherit;
    padding: 20px;
  }
  h3{
    text-align: center;
    margin-bottom: 30px;
    @include for-tablet-portrait-up{
      text-align: left;
    }
  }
  border-radius: 0;
  border: 1px solid $muted-color;
  box-shadow: none;
  width: 100%;
  @include for-tablet-portrait-up{
    width: inherit;
    min-width: 600px;
  }
  a.close-modal{
    display: none !important;
  }
}