.report-receipt{
  top: 0;
  @include for-tablet-portrait-up{
    position: absolute;
    left: calc(50% + 180px);
    top: 200px;
    opacity: 1;
    width: 338px;
    min-width: auto;
  }
  .input-group{
    display: block;
  }
  .input-group .input-holder{
    width: 100%;
    @include for-tablet-portrait-up{
      width: 296px;
      min-width: auto;
    }
  }
  .btn{
    margin: 16px 0 !important;
    width: 100%;
    display: block;
  }
  .notice{
    margin: 16px 0;
  }
}