<div id="add-review" class="modal add-review">
    <h3>Ваш отзыв о MATÜ</h3>
    <form action="" id="addReview" method="post">
        <div class="input-group column-direction">
            <p>Выберите вашу оценку магазину:</p>
            <div class="rating">
                <input type="radio" name="rating" value="1" id="r1">
                <label for="r1">
                    <span>1</span>
                </label>
                <input type="radio" name="rating" value="2" id="r2">
                <label for="r2">
                    <span>2</span>
                </label>
                <input type="radio" name="rating" value="3" id="r3">
                <label for="r3">
                    <span>3</span>
                </label>
                <input type="radio" name="rating" value="4" id="r4">
                <label for="r4">
                    <span>4</span>
                </label>
                <input type="radio" name="rating" value="5" id="r5">
                <label for="r5">
                    <span>5</span>
                </label>
                <input type="radio" name="rating" value="6" id="r6">
                <label for="r6">
                    <span>6</span>
                </label>
                <input type="radio" name="rating" value="7" id="r7">
                <label for="r7">
                    <span>7</span>
                </label>
                <input type="radio" name="rating" value="9" id="r9">
                <label for="r9">
                    <span>8</span>
                </label>
                <input type="radio" name="rating" value="10" id="r10">
                <label for="r10">
                    <span>10</span>
                </label>
            </div>
            <div class="error-container"></div>
        </div>
        <label class="input-group column-direction">
            <div class="hide-phone label-name">
                Отзыв:
            </div>
            
            <div class="input-holder w-100">
                <textarea cols="30"
                          rows="10"
                          name="textarea"
                          required
                          placeholder="Мне все очень понравилось, шуюба замечательная. Огибающая семейства прямых вырождена. Матожидание, не вдаваясь в подробности, стабилизирует тригонометрический контрпример, что известно даже школьникам. Минимум оправдывает двойной интеграл. Математический анализ, очевидно, изящно усиливает интеграл Дирихле. Арифметическая прогрессия специфицирует стремящийся скачок функции."></textarea>
            </div>
        </label>
        
        <div class="add-review__cols">
            <label class="input-group column-direction">
                <div class="hide-phone label-name">
                    Имя:
                </div>
                <div class="input-holder">
                    <input type="text" class="form-input" placeholder="Имя">
                </div>
            </label>
            <label class="input-group column-direction">
                <div class="hide-phone label-name">
                    Город:
                </div>
                <div class="input-holder">
                    <input type="text" class="form-input" placeholder="Город">
                </div>
            </label>
            <label class="input-group column-direction">
                <div class="hide-phone label-name">
                    Изделие:
                </div>
                <div class="input-holder">
                    <input type="text" class="form-input" placeholder="Изделие">
                </div>
            </label>
            <label class="input-group column-direction">
                <div class="hide-phone label-name">
                    E-mail:
                </div>
                <div class="input-holder">
                    <input type="email" class="form-input" required placeholder="E-mail" name="email" >
                </div>
            </label>
            <div>
                <img src="../img/recaptcha.png" style="width: 100%" alt="">
            </div>
            <div>
                <button type="submit" class="btn btn__dark" id="addReviewBtn"> Отправить отзыв</button>
            </div>
        </div>
        <p class="form-text text-muted">
            Нажимая на кнопку «Сообщить о поступлении», я соглашаюсь на обработку моих персональных данных и ознакомлен(а) с
            <a href="/">условиями конфиденциальности</a>.
    </form>

</div>