<div class="advice-form">
    <div class="advice-form__ava">
        <img src="./img/advicer.jpg"
             srcset="./img/advicer@2x.jpg 2x"
             alt=""/>
    </div>
    <h2>
        Советы стилиста Марии Космос
        <br>
        Как составить базовый гардероб?
    </h2>
    <form action="">
        <input class="form-input"
               type="email"
               placeholder="Введите e-mail"
               required>
        <button class="btn btn__dark"
                type="submit">Получить совет</button>
        <p class="form-text text-muted">
            Нажав на кнопку «Получить совет» вы соглашаетесь с
            <a href="#">политикой конфиденциальности</a>
        </p>
    </form>
</div>