<div class="brand-friends__row">
    <div>
        <img src="./img/brand-friend/brand-friend1.jpg"
             srcset="./img/brand-friend/brand-friend1@2x.jpg 2x"
             alt="">
        <p>Bика Романенко <a href="/">@romanenkovika</a> в молочном бомбере размера M</p>
    </div>
    <div>
        <img src="./img/brand-friend/brand-friend2.jpg"
             srcset="./img/brand-friend/brand-friend2@2x.jpg 2x"
             alt="">
        <p>Bика Романенко <a href="/">@romanenkovika</a> в молочном бомбере размера M</p>
    </div>
    <div>
        <img src="./img/brand-friend/brand-friend3.jpg"
             srcset="./img/brand-friend/brand-friend3@2x.jpg 2x"
             alt="">
        <p>Bика Романенко <a href="/">@romanenkovika</a> в молочном бомбере размера M</p>
    </div>
</div>