<div class="cart-tooltip">
    <h3>
        В корзине 3 товара:
    </h3>
    <div class="cart-tooltip__items">
        <div class="cart-tooltip__item">
            <div>
                <img src="./img/cart/cart1.jpg" srcset="./img/cart/cart1@2x.jpg 2x" alt="">
            </div>
            <div class="cart-tooltip__item-data">
                19 500 р.<br>
                1 х Шуба<br>
                Мальме
            </div>
        </div>
        <div class="cart-tooltip__item">
            <div>
                <img src="./img/cart/cart2.jpg" srcset="./img/cart/cart2@2x.jpg 2x" alt="">
            </div>
            <div class="cart-tooltip__item-data">
                19 500 р.<br>
                1 х Шуба<br>
                Мальме
            </div>
        </div>
    </div>
    <div class="cart-tooltip__total">
        <div>Стоимость заказа</div>
        <div>19 500 р.</div>
    </div>

    <a class="btn btn__dark">
        Оформить заказ
    </a>
</div>
