<div class="catalog">
    //= catalog-nav.html
    <div>
        <section class="catalog__items">
            //= catalog-item.html
            //= catalog-item.html
            //= catalog-item.html
            //= catalog-item.html
            //= catalog-item.html
            //= catalog-item.html
            //= catalog-item.html
            //= catalog-item.html
            //= catalog-item.html
        </section>
    </div>
</div>