<div class="catalog-paralax">
    <h2>В жизни</h2>
    <div class="catalog-paralax__items">
        <img src="./img/paralax/paralax.jpg"
             srcset="./img/paralax/paralax@2x.jpg 2x"
             class="p1"
             alt="">
        <img src="./img/paralax/paralax_1.jpg"
             srcset="./img/paralax/paralax_1@2x.jpg 2x"
             class="p2"
             alt="">
        <img src="./img/paralax/paralax.jpg"
             srcset="./img/paralax/paralax@2x.jpg 2x"
             class="p3"
             alt="">
    </div>
</div>