<nav class="catalog__nav">
    <input type="checkbox" id="catalog-nav">
    <label for="catalog-nav" class="category-toggle">
        Категория
    </label>
    <ul class="category">
        <li class="active">
            <a href="/" class="animated-lnk">Шубы</a>
            <ul>
                <li>
                    <a href="">Мальме</a>
                </li>
                <li>
                    <a href="">Этна</a>
                </li>
                <li>
                    <a href="">Адели</a>
                </li>
                <li>
                    <a href="">Нарния 90 см</a>
                </li>
                <li>
                    <a href="">Нарниня 115 см</a>
                </li>
                <li>
                    <a href="">Аспен</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/" class="animated-lnk">Бомберы</a>
        </li>
        <li>
            <a href="/" class="animated-lnk">Пальто</a>
        </li>
        <li>
            <a href="/" class="animated-lnk">Жакеты</a>
        </li>
        <li>
            <a href="/" class="animated-lnk">Свитера</a>
        </li>
        <li>
            <a href="/" class="animated-lnk">Аксессуары</a>
        </li>
        <li>
            <a href="/" class="animated-lnk">Уход</a>
        </li>
    </ul>
</nav>