<a class="item" href="./product.html">
    <div class="img-wrapper">
        <img src="./img/catalog/catalog1.jpg" srcset="./img/catalog/catalog1@2x.jpg 2x" alt="">
        <img src="./img/catalog/catalog1_2.jpg" srcset="./img/catalog/catalog1_2@2x.jpg 2x" alt="">
    </div>
    <div class="item__title">
        <span class="animated-lnk">Бомбер Барроу</span>
    </div>
    <div class="item__colors">
        <div class="clr" style="border-color: #8B8B8B"></div>
        <div class="clr" style="background: #92bddd"></div>
        <div class="clr" style="background: #c3af97"></div>
        <div class="clr" style="background: #787878;"></div>
        +5
    </div>
    <div class="item__price">
        <span>17 800 р</span>
        <span class="strike text-muted">19 500 р</span>
    </div>
</a>
