<section class="catalog__category-head">
    <div class="catalog__category-head-images-mobile">
        <img src="./img/catalog/category1-m.jpg"
             srcset="./img/catalog/category1-m@2x.jpg"
             class=""
             alt="">
    </div>
    <div class="catalog__category-head-images">
        <div class="hide-phone">
            <img src="./img/catalog/category1.jpg"
                 srcset="./img/catalog/category1@2x.jpg"
                 alt="">
        </div>
        <div class="hide-phone">
            <img src="./img/catalog/category2.jpg"
                 srcset="./img/catalog/category2@2x.jpg"
                 alt="">
        </div>
    </div>

    <p class="l-side-space">
        Мода на Тедди-шубы началась в 2013 году, их носили единицы, спустя время эта модель превратилась в классику и уверенно заняла место в гардеробе как базовая модель шубы.
    </p>
</section>