<footer class="footer">
    <div class="footer__inner">
        <div class="centered-content footer__logo">
            <a href="./" class="logo">
                <svg>
                    <use xlink:href="#logo"></use>
                </svg>
            </a>
            <p>
                &copy; 2016 &ndash; <span id="year"></span>
            </p>
        </div>
        <div>
            <div>
                <input type="checkbox" id="shoppers" class="dd-check">
                <label for="shoppers" class="dd-title">
                    Покупателям
                    <svg class="collapse-ico">
                        <use xlink:href="#plus2"></use>
                    </svg>
                </label>
                <ul class="dd-content">
                    <li>
                        <a href="./faq.html">Вопросы и ответы</a>
                    </li>
                    <li>
                        <a href="./payment-and-delivery.html">Оплата и доставка</a>
                    </li>
                    <li>
                        <a href="./order-success.html">Возврат</a>
                    </li>
                    <li>
                        <a href="./product.html">Уход за изделием</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div>
                <input type="checkbox" id="about-matu" class="dd-check">
                <label for="about-matu" class="dd-title">
                    О MATÜ
                    <svg class="collapse-ico">
                        <use xlink:href="#plus2"></use>
                    </svg>
                </label>
                <ul class="dd-content">
                    <li>
                        <a href="./showroom.html">Шоурум</a>
                    </li>
                    <li>
                        <a href="./about-us.html">Наша история</a>
                    </li>
                    <li>
                        <a href="./customer-reviews.html">Отзывы клиентов</a>
                    </li>
                    <li>
                        <a href="./about-us.html">Пресса о нас</a>
                    </li>
                    <li>
                        <a href="/">Сотрудничество</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div>
                <input type="checkbox" id="inspiration" class="dd-check">
                <label for="inspiration" class="dd-title">
                    Вдохновение
                    <svg class="collapse-ico">
                        <use xlink:href="#plus2"></use>
                    </svg>
                </label>
                <ul class="dd-content">
                    <li>
                        <a href="./catalog-category.html">Готовые образы</a>
                    </li>
                    <li>
                        <a href="./live-photos.html">Живые фотографии</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__social">
            <div>
                <p>Стань частью <br class="hide-phone"> нашего сообщества</p>
                <div class="social">
                    <a href="">
                        <svg>
                            <use xlink:href="#vk"></use>
                        </svg>
                    </a>
                    <a href="">
                        <svg>
                            <use xlink:href="#fb"></use>
                        </svg>
                    </a>
                    <a href="">
                        <svg>
                            <use xlink:href="#inst"></use>
                        </svg>
                    </a>
                </div>
                <p>
                    <a class="text-muted small">
                        Политика конфиденциальности <br class="show-phone"> персональных данных
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>