<div class="friends">
    <h2>Друзья бренда <span class="hide-phone">и стилисты</span></h2>
    <div class="friends__items">
        <div class="friends__item">
            <img src="./img/friends/friend_1.jpg" srcset="./img/friends/friend_1@2x.jpg 2x" alt="">
            <p>
                Ксения бум
                <a href="#" class="animated-lnk">@real_boom</a>
            </p>
        </div>
        <div class="friends__item">
            <img src="./img/friends/friend_2.jpg" srcset="./img/friends/friend_2@2x.jpg 2x" alt="">
            <p>
                Дарья Костромитина
                <a href="#" class="animated-lnk">@dashakos</a>
            </p>
        </div>
        <div class="friends__item">
            <img src="./img/friends/friend_3.jpg" srcset="./img/friends/friend_3@2x.jpg 2x" alt="">
            <p>
                Nena Baijer
                <a href="#" class="animated-lnk">@nenabaijer</a>
            </p>
        </div>
        <div class="friends__item">
            <img src="./img/friends/friend_1.jpg" srcset="./img/friends/friend_1@2x.jpg 2x" alt="">
            <p>
                Ксения бум
                <a href="#" class="animated-lnk">@real_boom</a>
            </p>
        </div>
        <div class="friends__item">
            <img src="./img/friends/friend_2.jpg" srcset="./img/friends/friend_2@2x.jpg 2x" alt="">
            <p>
                Дарья Костромитина
                <a href="#" class="animated-lnk">@dashakos</a>
            </p>
        </div>
        <div class="friends__item">
            <img src="./img/friends/friend_3.jpg" srcset="./img/friends/friend_3@2x.jpg 2x" alt="">
            <p>
                Nena Baijer
                <a href="#" class="animated-lnk">@nenabaijer</a>
            </p>
        </div>
    </div>
</div>