<div class="vertical-carousel" id="slider">
    <section data-slider-index="1"  class="item hero1">
        <h1 class="item__title">Одежда из натуральной шерсти без вреда животным</h1>
        <a href="./catalog.html" class="btn btn__transparent">В каталог</a>
        <a href="javascript:mySlider.gotoSlide('#basic_sweater');" class="hero-scroll" ></a>
    </section >
    <section data-slider-index="2"  id="basic_sweater" class="item hero2">
        <h2 class="item__title">Идеальный базовый свитер</h2>
        <p class="item__caption">Его можно носить с двух сторон, с опущенным или поднятым горлом, заправленным или свободным, накинув на плечи или полностью одетым. Одним словом — свитер, который не захочется снимать.</p>
        <a href="./catalog.html" class="btn btn__transparent">Выбрать свитер</a>
        <a href="javascript:mySlider.gotoSlide('#outerwear');" class="hero-scroll" ></a>
    </section>
    <section data-slider-index="3" id="outerwear" class="item hero3">
        <h2 class="item__title">Шубы и верхняя одежда</h2>
        <p class="item__caption">Для шубы больше не нужен повод, она стала полноценной частью нашей жизни. В ней можно согреваться в Сибири или прогуливаться нараспашку по улицам Парижа.</p>
        <a href="./catalog.html" class="btn btn__transparent">Выбрать свитер</a>
        <a href="javascript:mySlider.gotoSlide('#with_love_to_nature');" class="hero-scroll" ></a>

    </section>
    <section data-slider-index="4" id="with_love_to_nature" class="item hero4">
        <h2 class="item__title">Сшитая с любовью <br>к природе</h2>
        <a href="javascript:mySlider.gotoSlide('#about_matu');" class="hero-scroll" ></a>
        <div class="mdm-holder">
            <img src="./img/hero/hero4-mdm.png" alt="">
            //= tooltip-bullits.html
        </div>
    </section>
    <section data-slider-index="5" id="about_matu" class="item hero5">
        <p class="caption-logo hide-phone">MATÜ</p>
        <p class="item__caption">Российский бренд теплой одежды, в основе которого строгость минимализма и лаконичность форм. В каждом изделии отражены натуральность и эстетика, любовь к себе и окружающему миру.
            Первый бренд в России, который с 2016 года трансформирует классическое представление о шубах. MATÜ - это новая теплая классика, которая стала частью базового гардероба.</p>
    </section>
</div>

//= tooltip-templates.html
