<div class="product-combination">
    <div class="product-combination__items">
        <div class="catalog__items">
            //= catalog-item.html
            //= catalog-item.html
            //= catalog-item.html
            //= catalog-item.html
        </div>
        <div class="product-combination__items-img">
            <img src="./img/product/product.jpg"
                 srcset="./img/product/product@2x.jpg 2x"
                 alt="">
        </div>
    </div>
</div>