<a class="live-photos__item">
    <img src="./img/friends/friend_1.jpg" srcset="./img/friends/friend_1@2x.jpg 2x" alt="">
    <p>
        Анна из Мурманска в шубе Мальме размера S
    </p>
</a>
<a class="live-photos__item">
    <img src="./img/friends/friend_2.jpg" srcset="./img/friends/friend_2@2x.jpg 2x" alt="">
    <p>
        Полина из Кемерово в шубе Нарния размера M
    </p>
</a>
<a class="live-photos__item">
    <img src="./img/friends/friend_3.jpg" srcset="./img/friends/friend_3@2x.jpg 2x" alt="">
    <p>
        Ирина из Москвы в Бомбере размера XS
    </p>
</a>