<div class="navbar-wrapper">
    <header class="navbar">
        <div class="logo-holder">
            <div class="hamburger hamburger--collapse" id="navHamburger" tabindex="0"
                 aria-label="Menu"
                 role="button"
                 aria-controls="navigation">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
            <a class="logo" href="./" class="animated-lnk">
                <svg>
                    <use xlink:href="#logo"></use>
                </svg>
            </a>
        </div>
        <nav class="nav" id="headerNav">
            <div class="nav__item">
                <a href="./catalog.html" class="animated-lnk">КАТАЛОГ</a>
            </div>
            <div class="nav__item">
                <a href="./customer-reviews.html" class="animated-lnk">КЛИЕНТЫ О НАС</a>
            </div>
            <div class="nav__item">
                <a href="./payment-and-delivery.html" class="animated-lnk">ДОСТАВКА</a>
            </div>
            <div class="nav__item">
                <a href="./about-us.html" class="animated-lnk">О НАС</a>
            </div>
            <div class="nav__item">
                <a href="./showroom.html" class="animated-lnk">ШОУРУМ</a>
            </div>
            <div class="nav__item">
                <a href="./live-photos.html" class="animated-lnk">ВДОХНОВЕНИЕ</a>
            </div>
        </nav>
        <div class="order">
            <a href="tel:+7 991 777-18-85" class="tel">
                <svg class="phone-mb">
                    <use xlink:href="#phone"></use>
                </svg>
                <span class="phone-dt animated-lnk">
                    +7 991 777-18-85
                </span>
            </a>
            <div class="icon-lnk cart-holder">
                <svg>
                    <use xlink:href="#cart"></use>
                </svg>
                <div class="cart-counter">
                    3
                </div>
                //= cart-tooltip.html
            </div>
        </div>
    </header>
</div>
<div class="nav-cover"></div>
