<form class="order-form">
    <h2>Оформление заказа</h2>
    <div class="order-form__cols">
        <div class="user-data">
            <!---->
            <div class="form-group">
                <label class="input-group">
                    <div class="hide-phone label-name">
                        Имя:
                    </div>
                    <div class="input-holder">
                        <input type="text" class="form-input" placeholder="Имя">
                    </div>
                </label>
                    <label class="input-group">
                        <div class="hide-phone label-name">
                            Телефон:
                        </div>
                        <div class="input-holder">
                            <input type="phone" class="form-input" placeholder="+7 (999) 999-99-99">
                        </div>
                    </label>
                    <label class="input-group">
                        <div class="hide-phone label-name">
                            E-mail:
                        </div>
                        <div class="input-holder">
                            <input type="email" class="form-input" placeholder="email">
                        </div>
                    </label>
                </div>
                <!---->
                <div class="form-group">
                    <div class="input-group v-align-top">
                        <div class="hide-phone label-name">
                            Город:
                        </div>
                        <div class="input-holder">
                            <label class="custom-radio">
                                <input type="radio" name="town" checked>
                                <span class="checkmark"></span>
                                Москва или Санкт-Петербург
                            </label>
                            <label class="custom-radio" id="otherCity">
                                <input type="radio" name="town">
                                <span class="checkmark"></span>
                                Другой город России
                            </label>
                            <label class="custom-radio">
                                <input type="radio" name="town" id="otherCountry">
                                <span class="checkmark"></span>
                                Другая страна
                            </label>
                        </div>
                    </div>
                    <label class="input-group v-align-top">
                        <div class="hide-phone label-name">
                            Доставка:
                        </div>
                        <div class="input-holder">
                            <div>
                                2-11 дней, в зависимости от города. Точные сроки сообщит менеджер. Доставка осуществляется компанией СДЕК.
                            </div>
                        </div>
                    </label>
                </div>

                <!---->
                <div class="form-group">
                    <div class="input-group v-align-top">
                        <div class="hide-phone label-name">
                            Город:
                        </div>
                        <div class="input-holder">
                            <label class="custom-radio">
                                <input type="radio" name="delivery" checked>
                                <span class="checkmark"></span>
                                Курьером, бесплатно
                            </label>
                            <label class="custom-radio">
                                <input type="radio" name="delivery">
                                <span class="checkmark"></span>
                                Самовывоз, бесплатно
                            </label>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="form-group">
                    <label class="input-group">
                        <div class="hide-phone label-name">
                            Адрес:
                        </div>
                        <div class="input-holder">
                            <input type="text" class="form-input" placeholder="Имя">
                        </div>
                    </label>
                    <label class="input-group">
                        <div class="hide-phone label-name">
                            Промокод:
                        </div>
                        <div class="input-holder promo-code">
                            <div>
                                <input type="text" class="form-input">
                            </div>
                            <div>
                                <div class="btn btn__transparent btn__secondary">Применить</div>
                            </div>
                        </div>
                    </label>
                    <label class="input-group v-align-top">
                        <div class="hide-phone label-name">
                            Коммент:
                        </div>
                        <div class="input-holder">
                            <div>
                                <textarea name="" id="" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="show-phone">
                    <div class="total__method">
                        <div class="total__title">Оплата:</div>
                        <div>
                            <label class="custom-radio">
                                <input type="radio" name="method" checked>
                                <span class="checkmark"></span>
                                Банковская карта
                            </label>
                            <label class="custom-radio">
                                <input type="radio" name="method">
                                <span class="checkmark"></span>
                                PayPal
                            </label>
                        </div>
                    </div>
                    <input type="submit" class="btn btn__dark" value="Оплатить заказ">
                </div>

        </div>

        <div>
            <div class="order-items-holder">
                //= order-item.html
                //= order-item.html
                //= order-item.html
                //= order-item.html
            </div>
            <div class="total">
                <div class="total__count">
                    <div class="total__title">К оплате:</div>
                    <div>56 565 рубля</div>
                </div>
                <div class="hide-phone">
                    <div class="total__method">
                        <div class="total__title">Оплата:</div>
                        <div>
                            <label class="custom-radio">
                                <input type="radio" name="method" checked>
                                <span class="checkmark"></span>
                                Банковская карта
                            </label>
                            <label class="custom-radio">
                                <input type="radio" name="method">
                                <span class="checkmark"></span>
                                PayPal
                            </label>
                        </div>
                    </div>
                    <input type="submit" class="btn btn__dark" value="Оплатить заказ">
                </div>

            </div>
        </div>
    </div>
</form>