<div class="order-item">

    <div class="remove">
        <svg class="pointer close">
            <use xlink:href="#close"></use>
        </svg>
    </div>

    <div class="order-item__image">
        <img src="./img/cart/cart1.jpg" srcset="./img/cart/cart1@2x.jpg 2x" alt="">
    </div>

    <div class="order-item__actions">

        <div class="order-item__title">
            <div>
                <b>Шуба мальма</b>
            </div>
        </div>
        <div class="action-holder">
            <div class="action">
                <div class="color-picker">
                    <span>Молочный</span>
                </div>
                <div class="number-input">
                    <div class="number-input__minus pointer number-input__action" >
                        <svg>
                            <use xlink:href="#minus"></use>
                        </svg>
                    </div>
                    <div>
                        <input type="text" value="1"/>
                    </div>
                    <div class="number-input__plus pointer number-input__action">
                        <svg>
                            <use xlink:href="#plus-small"></use>
                        </svg>
                    </div>
                </div>

            </div>
            <div class="action">
                <div class="price">
                    19 352p. <span class="text-muted">&ndash; 33%</span>
                </div>
                <div class="size-select pointer">
                    Размер: S
                </div>
            </div>
        </div>

    </div>
</div>