<div class="product-accordion css-accordion">

    <div class="css-accordion__item">
        <input type="checkbox" id="chck1">
        <label class="css-accordion__item-label" for="chck1">О шубе</label>
        <div class="css-accordion__item-content">
            <ul class="dotted-list">
                <li>Шуба двубортная прямого кроя с уложенным аккуратным воротником</li>
                <li>Длина изделия: 115 см</li>
            </ul>
        </div>
    </div>
    <div class="css-accordion__item">
        <input type="checkbox" id="chck2">
        <label class="css-accordion__item-label" for="chck2">Параметры модели на фото</label>
        <div class="css-accordion__item-content">
            <div>Модель ростом 167 см, грудь 88 см, бедра 98 см.
                На модели размер S
            </div>
        </div>
    </div>
    <div class="css-accordion__item">
        <input type="checkbox" id="chck3">
        <label class="css-accordion__item-label" for="chck3">Материал вблизи</label>
        <div class="css-accordion__item-content">
            <div class="css-accordion__pictures">
                <div>
                    <img src="./img/product/material1.jpg"
                         srcset="./img/product/material1@2x.jpg 2x" alt="">
                </div>
                <div>
                    <p class="text-dark">Мех</p>
                    <p>Натуральная стриженная овечья шерсть на трикотажной основе</p>
                </div>
            </div>
            <div class="css-accordion__pictures">
                <div>
                    <img src="./img/product/material2.jpg"
                         srcset="./img/product/material2@2x.jpg 2x" alt="">
                </div>
                <div>
                    <p class="text-dark">Мех</p>
                    <p>Утеплитель Сиберия вшит в подклад из 100% вискозы.<p>
                        <p>Сиберия очень тонкий и легкий высокотехнологичный синтетический материал, который помогает сохранить тепло и добавляет к теплоте около 5-7 градусов</p>
                    <p class="text-dark">Важно! Периодически мы меняем цвет подкладка, уточните у менеджера.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="css-accordion__item">
        <input type="checkbox" id="chck4">
        <label class="css-accordion__item-label" for="chck4">Состав</label>
        <div class="css-accordion__item-content">
            <ul class="dotted-list">
                <li>Состав: 70-80% стриженная овечья шерсть, 20-30% лавсан</li>
                <li>Подклад: 100% вискоза</li>
                <li>В подклад вшит утеплитель Сиберия</li>
            </ul>
        </div>
    </div>

    <div class="css-accordion__item">
        <input type="checkbox" id="chck5">
        <label class="css-accordion__item-label" for="chck5">Доставка</label>
        <div class="css-accordion__item-content">
            <div>
                <p>Доставка по Москве и СПб осуществляется бесплатно</p>
                <p>Доставка в регионы - оплачивается 50%</p>
                <p>Доставка по Москве осуществляете курьерами, в другие города компанией СДЕК прямо до дверей</p>
                <p>Узнать больше о доставке и примерке</p>
            </div>
        </div>
    </div>
</div>