<div class="product-holder">
    <div class="product-holder__img swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="./img/product/product.jpg"
                     srcset="./img/product/product@2x.jpg 2x"
                     alt="">
            </div>
            <div class="swiper-slide">
                <img src="./img/product/product.jpg"
                     srcset="./img/product/product@2x.jpg 2x"
                     alt="">
            </div>
            <div class="swiper-slide">
                <img src="./img/product/product.jpg"
                     srcset="./img/product/product@2x.jpg 2x"
                     alt="">
            </div>
            <div class="swiper-slide">
                <img src="./img/product/product.jpg"
                     srcset="./img/product/product@2x.jpg 2x"
                     alt="">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="properties-sticky" id="stickySidebar">
        <div class="product-holder__properties">
            <h2>
                Косуха Монблан
            </h2>
            //= product-color-picker.html
            //= product-size-picker.html
            <div class="prices">
                <div class="current">
                    25 000 руб.
                </div>
                <div class="ex text-muted">
                    <span class="strike">19 800 руб.</span> -33%
                </div>
            </div>
            <div class="btn btn__dark m-0">
                <span class="hide-phone">Добавить</span> в корзину
            </div>
            //= product-accordion.html
        </div>

    </div>
</div>
