<div class="size-picker">
    <div>
        <div class="size-picker__item">
            SX
        </div>
        <div class="size-picker__item">
            S
        </div>
        <div class="size-picker__item selected">
            M
        </div>
        <div class="size-picker__item">
            L
        </div>
    </div>
    <div class="size-picker__links text-muted">
        <small>
            <a href="#choozeSizeModal" rel="modal:open" class="dashed-lnk open-modal">Подобрать размер</a>
            <a href="#reportReceipt" rel="modal:open" class="dashed-lnk open-modal">Сooбщить о поступлении</a>
        </small>
    </div>
</div>

<div id="choozeSizeModal"
     class="modal chooze-size">
    <table>
        <tr>
            <th>Размер</th>
            <th>Обхват груди, см</th>
            <th>Обхват талии, см</th>
            <th>Обхват бедер, см</th>
        </tr>
        <tbody>
        <tr>
            <td>XXS</td>
            <td>80</td>
            <td>60</td>
            <td>88</td>
        </tr>
        <tr>
            <td>XS</td>
            <td>84</td>
            <td>63</td>
            <td>92</td>
        </tr>
        <tr>
            <td>S</td>
            <td>88</td>
            <td>68</td>
            <td>96</td>
        </tr>
        <tr>
            <td>M</td>
            <td>92</td>
            <td>72</td>
            <td>100</td>
        </tr>
        <tr>
            <td>L</td>
            <td>96</td>
            <td>76</td>
            <td>104</td>
        </tr>
        </tbody>
    </table>
</div>
<div id="reportReceipt" class="modal report-receipt" >
    <form action="">
        <p class="text-lead">Сообщить о поступлении</p>
        <p class="notice">Оставьте ваши контактные данные и как только размер появится на сайте, мы отправим пришлем уведомление на почту</p>
        
        <label class="input-group column-direction">
            <div class="label-name">
                Имя:
            </div>
            <div class="input-holder">
                <input type="text" class="form-input" name="name" placeholder="Имя">
            </div>
        </label>
        <label class="input-group column-direction">
            <div class="label-name">
                Телефон:
            </div>
            <div class="input-holder">
                <input type="phone" class="form-input" name="phone" placeholder="+7 (999) 999-99-99" data-mask="+7 (999) 999-99-99">
            </div>
        </label>
        <label class="input-group column-direction">
            <div class="label-name">
                Email:
            </div>
            <div class="input-holder">
                <input type="email" class="form-input" name="email" placeholder="E-mail">
            </div>
        </label>
        
        <label>
            <input type="checkbox">
            Подписаться на новости
        </label>
        <div>
            <button type="submit" class="btn btn__dark" id="">Сообщить о поступлении</button>
        </div>
        <p class="form-text text-muted">
            Нажимая на кнопку «Сообщить о поступлении», я соглашаюсь на обработку моих персональных данных и ознакомлен(а) с
            <a href="/">условиями конфиденциальности</a>.
    
    </form>
    
    
</div>