<div class="color-picker-holder">
    <div class="color-picker">
        <div class="color-picker__clr" style="background: #E09424"></div>
        <div class="color-picker__name">
            Корица
        </div>
    </div>
    <div class="color-picker__items">
        <div class="color-picker__item selected"
             data-color-hex="#E9E3D5"
             data-color-name="Молочный">
            <img src="./img/color-picker/item1.jpg"
                 srcset="./img/color-picker/item1.jpg 2x"
                 alt="">
            <div>Молочный</div>
        </div>
        <div class="color-picker__item"
             data-color-hex="#D7BCAA"
             data-color-name="Бежевый">
            <img src="./img/color-picker/item2.jpg"
                 srcset="./img/color-picker/item2.jpg 2x"
                 alt="">
            <div>Бежевый</div>
        </div>
        <div class="color-picker__item"
             data-color-hex="#5c4035"
             data-color-name="Кофейный">
            <img src="./img/color-picker/item3.jpg"
                 srcset="./img/color-picker/item3.jpg 2x"
                 alt="">
            <div>Кофейный</div>
        </div>
        <div class="color-picker__item"
             data-color-hex="#834713"
             data-color-name="Горчичный">
            <img src="./img/color-picker/item4.jpg"
                 srcset="./img/color-picker/item4.jpg 2x"
                 alt="">
            <div>Горчичный</div>
        </div>
        <div class="color-picker__item"
             data-color-hex="#5484aa"
             data-color-name="Голубой">
            <img src="./img/color-picker/item5.jpg"
                 srcset="./img/color-picker/item5.jpg 2x"
                 alt="">
            <div>Голубой</div>
        </div>
        <div class="color-picker__item"
             data-color-hex="#464646"
             data-color-name="Серый">
            <img src="./img/color-picker/item6.jpg"
                 srcset="./img/color-picker/item6.jpg 2x"
                 alt="">
            <div>Серый</div>
        </div>
        <div class="color-picker__item"
             data-color-hex="#720021"
             data-color-name="Винный">
            <img src="./img/color-picker/item7.jpg"
                 srcset="./img/color-picker/item7.jpg 2x"
                 alt="">
            <div>Винный</div>
        </div>
        <div class="color-picker__item"
             data-color-hex="#274a70"
             data-color-name="Джинсовый">
            <img src="./img/color-picker/item8.jpg"
                 srcset="./img/color-picker/item8.jpg 2x"
                 alt="">
            <div>Джинсовый</div>
        </div>
        <div class="color-picker__item"
             data-color-hex="#2f2e19"
             data-color-name="Бутылочный">
            <img src="./img/color-picker/item9.jpg"
                 srcset="./img/color-picker/item9.jpg 2x"
                 alt="">
            <div>Бутылочный</div>
        </div>
    </div>
</div>
