<svg class="plus tooltip tooltip-right"
     data-tooltip-content="#tooltip_content_1"
     data-tooltipster='{"position":"right"}'
     style="top: 15%;left: 65%;">
    <use xlink:href="#plus"></use>
</svg>
<svg class="plus tooltip tooltip-left"
     data-tooltip-content="#tooltip_content_2"
     data-tooltipster='{"position":"left"}'
     style="top: 20.2%; left: 5%;">
    <use xlink:href="#plus"></use>
</svg>
<svg class="plus tooltip"
     data-tooltip-content="#tooltip_content_3"
     data-tooltipster='{"position":"bottom"}'
     style="top: 23.5%; left: 33%;">
    <use xlink:href="#plus"></use>
</svg>
<svg class="plus tooltip tooltip-left"
     data-tooltip-content="#tooltip_content_4"
     data-tooltipster='{"position":"left"}'
     style="top: 41%; left: 4.5%;">
     <use xlink:href="#plus"></use>
</svg>
<svg class="plus tooltip tooltip-right"
     data-tooltip-content="#tooltip_content_5"
     data-tooltipster='{"position":"right"}'
     style=" top: 46%; left: 58%;">
     <use xlink:href="#plus"></use>
</svg>
<svg class="plus tooltip"
     data-tooltip-content="#tooltip_content_6"
     data-tooltipster='{"position":"top"}'
     style="top: 90.3%; left: -4%;">
     <use xlink:href="#plus"></use>
</svg>
