<div class="tooltip_templates">
    <span id="tooltip_content_1">
        <img src="./img/tooltip/tooltip1.jpg" srcset="./img/tooltip/tooltip1@2x.jpg 2x" alt="Сиберия" />
        <p>Подклад из 100% вискозы, в которую вшит утеплитель</p>
        <p><a href="/">Сиберия</a></p>
    </span>
    <span id="tooltip_content_2">
        <img src="./img/tooltip/tooltip1.jpg" srcset="./img/tooltip/tooltip1@2x.jpg 2x" alt="Сиберия" />
        <p>Nori grape silver beet broccoli kombu beet greens fava</p>
        <p><a href="/">Сиберия</a></p>
    </span>
    <span id="tooltip_content_3">
        <img src="./img/tooltip/tooltip1.jpg" srcset="./img/tooltip/tooltip1@2x.jpg 2x" alt="Сиберия" />
        <p>Busey ipsum dolor sit amet. Have you urinated? Have you drained your bladder?</p>
        <p><a href="/">Сиберия</a></p>
    </span>
    <span id="tooltip_content_4">
        <img src="./img/tooltip/tooltip1.jpg" srcset="./img/tooltip/tooltip1@2x.jpg 2x" alt="Сиберия" />
        <p>Just say anything, George, say what ever's natural, the first thing that comes to your mind</p>
        <p><a href="/">Сиберия</a></p>
    </span>
    <span id="tooltip_content_5">
        <img src="./img/tooltip/tooltip1.jpg" srcset="./img/tooltip/tooltip1@2x.jpg 2x" alt="Сиберия" />
        <p>Cupcake ipsum dolor. Sit amet marshmallow topping cheesecake muffin.</p>
        <p><a href="/">Сиберия</a></p>
    </span>
    <span id="tooltip_content_6">
        <img src="./img/tooltip/tooltip1.jpg" srcset="./img/tooltip/tooltip1@2x.jpg 2x" alt="Сиберия" />
        <p>Cupcake ipsum dolor. Sit amet marshmallow topping cheesecake muffin.</p>
        <p><a href="/">Сиберия</a></p>
    </span>
</div>