.about-us{
  @include spacing();
  @include for-phone-only{
    @include fixed-header-reserve;
  }
  img{
    width: 100%;
  }
  &__start-cols{
    @include flexbox();
    margin: 20px 0;
    @include for-tablet-portrait-up{
      flex-direction: row;
      justify-content: space-between;
      margin: 40px 0 80px;
      & > div{
        @include flexbox($direction: row, $justifyContent: space-between)
      }
      .text{
        width: 35%;
        flex-direction: column;
        justify-content: flex-start;
      }
      .images-holder{
        width: 54.56%;
        flex-direction: column;
        @include for-desktop-up{
          flex-direction: row;
        }
        div{
          @include for-desktop-up{
            width: calc(50% - 10px);
          }
          img{
            width: 100%;
          }
        }
      }
    }
  }
  &__fin-cols{
    margin-bottom: 40px;
    & > div:last-child p{
      margin: 20px 0;
    }
    @include for-tablet-portrait-up{
      margin-bottom: 80px;
      @include flexbox($direction: row, $justifyContent: space-between);
      & > div:first-child{
        width: 63%;
      }
      & > div:last-child{
          width: 37%;
          margin-left: 90px;
        p{
          margin: 0 0 30px;
        }
      }
    }

  }
}