.advice-form{
  @include spacing;
  @include flexbox($alignItems: center, $justifyContent: center);
  text-align: center;
  @include for-tablet-portrait-up{
    margin-bottom: 100px;
  }

  &__ava{
    @include flexbox($alignItems: center, $justifyContent: center);
    border-radius: 100%;
    width: 182px;
    height: 182px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    @include for-tablet-portrait-up{
      width: 272px;
      height: 272px;
    }
    img{
      width: 100%;
    }
  }
  form{
    margin: 14px 0 ;
    text-align: left;
    @include for-tablet-portrait-up{
      margin: 35px 0;
      text-align: center;
    }
  }
}