.brand-friends{
  @include spacing($max-width: null);
  @include fixed-header-reserve;
  &__row{
    overflow: hidden;
    @include flexbox();
    &>div{
      margin-bottom: 20px;
    }
    img{
      width: 100%;
      margin-bottom: 20px;
    }
    @include for-tablet-portrait-up{
      display: block;
      &>div{
        margin-bottom: 40px;
      }
      & > div:nth-child(1){
        width: 57.5%;
      }
      & > div:nth-child(2){
        max-width: 24%;
      }
      & > div:nth-child(3){
        max-width: 34.5%;
      }

      &:nth-child(even) > div{
        &:nth-child(1){
          float: left;
        }
        &:nth-child(2){
          float: right;
          clear: right;

        }
        &:nth-child(3){
          float: right;
          clear: right;
        }
      }
      &:nth-child(odd) > div{
        &:nth-child(1){
          float: right;
        }
        &:nth-child(2){
          float: left;
          clear: left;
        }
        &:nth-child(3){
          float: left;
          clear: left;
        }
      }
    }
  }
}