.cart-holder{
  cursor: pointer;
  position: relative;
  .cart-counter{
    $size: 16px;
    min-width: $size;
    height: $size;
    text-align: center;
    border-radius: $size;
    font-size: 11px;
    line-height: 13px;
    padding: 2px;
    color: $white;
    background: $black;
    position: absolute;
    right: -6px;
    top: -5px;
    left: auto;
  }
}

.cart-tooltip{
  display: none;
  background: $white;
  color: $black;
  border: 1px solid $muted-color;
  background: #fff;
  padding: 20px 30px 30px;
  position: fixed;
  right: 10px;
  left: 10px;
  top: 70px;
  @include for-tablet-portrait-up{
    position: absolute;
    right: -20px;
    left: auto;
    width: 420px;
    top: calc(100% + 12px);
  }
  &::before{
    content: '';
    position: absolute;
    top: -11px;
    right: 10px;
    width: 20px;
    height: 20px;
    background: $white;
    border: solid $muted-color;
    border-width: 0 1px 1px 0;
    transform: rotate(-135deg);
    @include for-tablet-portrait-up{
      right: 20px;
    }
  }
  &__items{
    @include for-phone-only(){
      &>div:not(:last-child){
        display: none;
      }
    }
  }
  &__item{
    @include flexbox($direction: row, $alignItems: center, $justifyContent: space-between);
    padding: 15px 40px;
    font-size: 18px;
    line-height: 26px;
    &-data{
      flex: 0 0 52%
    }
  }
  &__total{
    @include flexbox($direction: row, $alignItems: center, $justifyContent: space-between);
    border-top: 1px solid $muted-color;
    padding: 10px 0 30px;
  }
  .btn{
    display: block;
    margin: 0;
  }
}