.catalog__nav{
  width: 100%;
  padding: 0 14px;
  @include Gilroy;
  @include for-tablet-portrait-up{
    flex: 0 0 20%;
    align-items: flex-start;
  }
  input{
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    &:checked {
      + .category-toggle::after{
        transform: rotate(-135deg);
        margin-top: 4px;
      }

      ~ .category {
        max-height: 50vh;
      }
    }
  }
  .category-toggle{
    display: block;
    text-align: center;
    padding: 9px 0;
    cursor: pointer;
    @include for-tablet-portrait-up{
      display: none;
    }
    &::after{
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      margin: -4px 0 0 4px;
      vertical-align: middle;
      transition: .3s linear;
      transform: rotate(45deg);
      border: solid black;
      border-width: 0 1px 1px 0;
    }
    @include for-phone-only
  }
  .category{
    max-height: 0;
    overflow: hidden;
    transition: .35s ease-in-out;
    text-align: center;
    background: rgba($white, .5);
    margin: 0 -20px;
    @include for-tablet-portrait-up{
      text-align: left;
      margin: 0;
      max-height: inherit;
    }
    li{
      list-style-type: none;
      margin-bottom: 9px;
      & > ul{
        max-height: 0;
        transition: .35s linear;

      }
    }
    li.active{
      font-weight: 600;
      ul{
        max-height: 100vh;
        font-weight: 400;
        padding: 12px 0;
        background: #fafafa;
        margin-top: 12px;
        @include for-tablet-portrait-up{
          padding: 12px 0 0 30px;
          margin-top: 0;
          background: transparent;
        }
        li > a{
          color: $muted-color;
        }
      }
    }
  }
}