.catalog-paralax{
  @include spacing($max-width: null);
  margin: auto;
  h2{
    text-align: center;
    margin-bottom: 40px;
    @include for-tablet-portrait-up{
      margin: 54px 90px 54px 147px;
      text-align: left;
    }
  }
  &__items{
    img{
      width: 100%;
    }
    @include for-tablet-portrait-up{
      position: relative;
      overflow: hidden;
      min-height: 80vh;
      margin: auto;
      &::before,
      &::after{
        $size: 70px;
        content: '';
        display: block;
        width: $size;
        height: $size;
        border-radius: 100%;
        background: black;
        position: absolute;
        top: 60px;
        z-index: 3;
      }
      &::after{
        left: calc(50% + 80px);
      }
      &::before{
        left: calc(50% - 80px);
      }
      img{
        position: absolute;
        height: auto;
        max-width: 36vw;
      }
      .p1{
        width: 50%;
        top: 0;
        left: 0
      }
      .p2{
        width: 25%;
        max-width: 20vw;
        top: 40%;
        left: 54%;
      }
      .p3{
        width: 60%;
        top: 7%;
        left: 70%;
        z-index: -1;
      }

    }
  }
}