@import "catalog-nav";

.category-title{
  @include for-tablet-portrait-up{
    padding-left: 20%;
    margin-bottom: -60px;
  }
}
.catalog{
  @include spacing($max-width: null);
  @include fixed-header-reserve;
  @include flexbox($direction: column);
  @include for-tablet-portrait-up(){
    //margin: 80px auto 0 !important;
    @include flexbox($direction: row);
    padding-left: 0;
    padding-right: 0;
  }

  &__category-head{
    width: 100%;
    margin-bottom: 40px;
    padding: 10px;
    &-images-mobile {
      img{
        width: 100%;
        margin-bottom: 20px;
      }
      @include for-tablet-portrait-up {
        display: none;
      }
    }
    &-images{
      display: none;
      @include for-tablet-portrait-up{
        @include flexbox($direction: row);
        width: 100%;
        margin: 10px 0 36px 0;
        div{
            width: 50%;
            height: 25vw;
            overflow: hidden;
          }
        img{
          width: 100%;
        }
        }
    }
  }

  &__items{
   @include flexbox($display: inline-flex, $direction: row, $wrap: wrap);
    display: inline-flex;
    flex-wrap: wrap;
    @include for-tablet-portrait-up{
      padding: 10px;
    }
    .item{
      font-size: 14px;
      margin: 0 12px 68px 12px;
      width: calc(50% - 24px);
      @include for-tablet-portrait-up{
        width: calc(25% - 2px);
        padding: 0 24px 0 0;
        margin: 0 0 68px 0;
        &:hover{
          text-decoration: none;
          cursor: pointer;
        }
      }
      .img-wrapper{
        position: relative;
        overflow: hidden;
        width: 100%;
        img{
          width: 100%;
        }
        img + img{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0;
          transition: opacity .5s ease-in-out;
          display: none;
          @include for-tablet-portrait-up{
            display: block;
          }
        }
        &:hover{
          @include for-tablet-portrait-up{
            img + img{
              opacity: 1;
            }
          }
        }
      }
    &__title{
      margin: 12px 0 5px 0;
    }
    &__colors{
      font-size: 12px;
      .clr{
        $clr-size: 9px;
        display: inline-block;
        width: $clr-size;
        height: $clr-size;
        margin: 0;
        border-radius: $clr-size;
        border: transparent 1px solid;
      }
    }
    &__price{
      span{
        margin-right: .5em;
        white-space: nowrap;
      }
    }


    }
  }

}