.reviews-wrapper{
  background: #F2F5F8;
  .footer{
    background: $white;
  }
}
.customer-reviews{
  @include spacing();
  @include fixed-header-reserve;
  .reviews{
    @include flexbox();
    @include for-tablet-portrait-up{
      &,
      & > .swiper-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    &__item{
      margin: 0 0 30px;
      @include for-tablet-portrait-up{
        max-width: 352px;
        margin: 10px 10px 50px;
        &:nth-of-type(5){
          order: 6;
        }
      }

      img{
        width: 100%;
        margin-bottom: 8px;
      }
      &.add-review{
        @include flexbox($alignItems: center);
        padding: 20px;
        @include for-tablet-portrait-up{
          padding: 40px;
          margin-bottom: 80px;
        }

        .btn{
          margin: 85px auto 0;
        }
      }
    }
  }
}