.faq{
  @include spacing();
  @include fixed-header-reserve;
  max-width: 1040px;
  height: 100%;
  margin-bottom: 40px;
  &__holder{
    @include for-tablet-portrait-up{
      min-height: 88%;
    }
    @include flexbox($direction: row, $justifyContent: space-between);
  }
  &__title{
    margin-bottom: 30px;
  }
  &__nav{
    display: none;
    @include for-tablet-portrait-up{
      display: block;
      width: 302px;
      flex-basis: 302px;
      font-size: 14px;
      ul{
        list-style-type: none;
        li{
          margin: 0 0 8px;
        }
        a{
          display: block;
          border-bottom: 1px solid transparent;
          &.selected{
            border-bottom: 1px solid $form-input-gray;
            &:hover{
              text-decoration: none;
            }
          }
        }
      }
    }

  }
  &__content{
    margin: 0;
    @include for-tablet-portrait-up{
      margin-left: 30px;
      overflow: auto;
      max-height: 780px;
      flex: 1;
    }
    h4,
    .ac-q{
      @include Gilroy;
      @include fluidFontSize(18px, 22px, 600px, $max-width, 22px);
      margin: 12px 0 14px;
    }
    .ac-a{
      padding: 0;
    }
    @include for-tablet-portrait-up{
      .ac-q{
        display: none;
      }
    }

  }
  &__footer{
    @include flexbox();
    border-top: 1px solid $stroke-color;
    @include for-tablet-portrait-up{
      flex-direction: row;
      //align-items: center;
      justify-content: space-between;
      min-height: 120px;
    }
    &>div{
      padding: 12px 0;
    }
    a{
      color: $muted-color;
      &:hover{
        text-decoration: none;
        span{
          text-decoration: underline;
        }
      }
    }
    svg{
      width: 24px;
      height: 24px;
      vertical-align: middle;
      margin-right: 6px;
    }
  }
}