.footer{
  background: #f2f2f2;
  @include for-tablet-portrait-up{
    padding: 0 20px;
    margin: 0 -20px;
  }
}
.footer__inner{
  margin: auto;
  padding: 12px 0;
  @include flexbox();
  @include Gilroy;
  font-size: 16px;
  & > div{
    padding: 7px 30px;
  }
  .small{
    font-size: 12px;
    line-height: .8em;
  }
  @include for-tablet-portrait-up(){
    @include flexbox($direction: row, $wrap: wrap);
    padding: 50px 0;
    & > div{
      @include flexbox($justifyContent: flex-start);
      width: 20%;
      padding: 7px 2px;
    }
    .centered-content{
      @include flexbox($justifyContent: center, $alignItems: center);
      @include for-desktop-up(){
        padding-right: 30px;
      }
    }
  }

  //dropdown
  input.dd-check{
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .dd-title {
    font-size: 14px;
    display: block;
    cursor: pointer;
    position: relative;
    font-weight: 600;
    @include for-tablet-portrait-up(){
      font-size: 14px;
      margin-bottom: 6px;
    }
    .collapse-ico{
      float: right;
      width: 12px;
      height: 12px;
      @include for-tablet-portrait-up(){
        display: none;
      }
    }
  }
  .dd-content {
    max-height: 0;
    overflow: hidden;
    transition: all .35s;
    padding: 0;
    margin-top: 10px;
    @include for-tablet-portrait-up(){
      max-height: 100vh;
      margin-top: 0;
    }
    li{
      margin-bottom: 6px;
      list-style-type: none;
    }
  }
  input:checked {
    + .dd-title {
      .collapse-ico{
        transform: rotate(45deg);
      }
    }
    ~ .dd-content {
      max-height: 50vh;
    }
  }
  .logo{
    margin-bottom: 16px;
    display: inline-block;
    svg{
      width: 80px;
      height: 26px;
      @include for-tablet-portrait-up(){
        width: 120px;
        height: 36px;
      }
    }
  }
  .social{
    margin: 18px 0 10px;
    @include for-tablet-portrait-up(){
      margin: 18px 0;
    }
    svg{
      width: 24px;
      height: 24px;
      opacity: .5;
      margin-right: 13px;
    }
    a{
      opacity: .8;
      &:hover{
        opacity: 1;
        text-decoration: none;
      }
    }
  }
  @include for-phone-only(){
    .footer__logo{
      order: 5;
      text-align: center;
      a{
        color: $black !important;
      }
    }
    .footer__social{
      margin: 12px 0;
      align-items: center;
      font-size: 13.2px;
      & > div{
        @include flexbox($justifyContent: center, $alignItems: center);
      }
    }
  }
}