.friends{
  margin: auto;
  @include spacing($max-width: null);
  @include for-tablet-portrait-up{
    overflow: hidden;
    height: 800px;
    margin-top: 100px;
  }

  h2{
    text-align: center;
  }

  &__items{
    @include for-tablet-portrait-up{
      width: 100%;
      overflow-x: auto;
      white-space: nowrap;
    }
  }
  &__item{
    margin: 10px 0;
    display: inline-block;
    @include for-tablet-portrait-up{
      margin: 12.5px;
    }
    img{
      width: 100%;
      @include for-tablet-portrait-up{
        width: 388px;
      }
    }
    p{
      font-size: 14px;
    }
  }
}
