$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-types: (collapse);
$hamburger-layer-color: $black;
$hamburger-layer-width: 22px;
$hamburger-layer-height: 1px;
$hamburger-layer-spacing: 7px;
$hamburger-layer-border-radius: 0;

@import "hamburgers";

.hamburger{
  vertical-align: middle;
  outline: none;
  margin-right: 10px;
  @media (min-width: 1090px) {
    display: none;
  }
  .hamburger-box{
    vertical-align: middle;
    margin-top: -2px;
  }
}
.invert-colors{
  .hamburger.is-active .hamburger-inner,
  .hamburger-inner{
    &,
    &::after,
    &::before{
      background-color: $white;
    }
  }
}
@media (min-width: 600px) {
  .is-active.hamburger .hamburger-box{
    margin-top: 0;
  }
  .hamburger .hamburger-box{
    margin-top: 6px;
    margin-right: 10px;
  }
  .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before{
    width: 28px;
    height: 2px;
  }
  .hamburger-inner::before{
    top: -12px;
  }
  .hamburger--collapse .hamburger-inner::after{
    top: -22px;
  }
}