.slider__body{
  overflow: hidden;
  .navbar{
    padding: 30px 35px;
    @media (max-width: 600px) {
      padding: 20px;
    }
  }
}

.vertical-carousel {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: block;
  margin: 0;
  padding: 0;
  transform: translate3d(0, 0, 0);
  transition: transform 500ms ease-in-out;

  .item {
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    @include flexbox($justifyContent: flex-end, $alignItems: center);
    padding: 30px;
    @include for-tablet-portrait-up(){
      padding: 20px 20px 100px;
    }
    &__title{
      @include fluidFontSize(30px, 62px, 600px, $max-width, 40px);
      line-height: 1.2;
      max-width: $max-width - 300px;
      margin-bottom: 40px;
      letter-spacing: 2px;
      text-align: center;
      @include Gilroy('bold');
      @include for-tablet-portrait-up(){
        line-height: 1.4;
      }
    }
    &__caption{
      max-width: 476px;
      text-align: left;
      margin-bottom: 60px;
      line-height: 1.25;
      @include fluidFontSize(15px, 18px, 600px, $max-width, 18px);
    }
    .caption-logo{
      font-size: 38px;
      line-height: 1em;
      letter-spacing: .15em;
      margin-bottom: 1em;
    }
    .btn{
      margin: 0;
      @include for-tablet-portrait-up{
        margin-bottom: 2vh;
      }
    }
  }
}

@mixin square($a){
  width: $a;
  height: $a;
}

@mixin circle($diameter){
  @include square($diameter);
  border-radius: 50%;
}
.slider{
  &__indicators {
    z-index: 1000;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    padding: 0;
    @include for-tablet-portrait-up(){
      right: 30px;
    }
  }
  &__indicator{
    display: block;
    position: relative;
    z-index: 1001;
    list-style: none;
    cursor: pointer;
    @include square(12px);
    padding: 2px;
    @include for-tablet-portrait-up(){
      @include square(22px);
      padding: 5px;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      @include circle(4px);
      margin: -2px 0 0 -2px;
      left: 50%;
      top: 50%;
      border: 1px solid white;
      transition: .1s ease-in-out;
      @include for-tablet-portrait-up(){

        @include circle(8px);
        margin: -4px 0 0 -4px;
      }
    }
    &:hover::before {
      @include circle(10px);
      margin: -5px 0 0 -5px;
    }
    &--active::before {
      background: white;
    }
  }
}

.vertical-carousel-box {
  transition: transform 600ms;
}

@mixin heroBg($slide){
  @include imgRetina('../img/hero/hero' + $slide + '_m', 'jpg');
  @include for-tablet-portrait-up(){
    @include imgRetina('../img/hero/hero' + $slide, 'jpg');
  }

}

.hero1 {
  @include heroBg(1);
}
.hero2 {
  @include heroBg(2);
}
.hero3 {
  @include heroBg(3);
}
.hero4 {
  @include imgRetina('../img/hero/hero4', 'jpg');
  .item__title{
    position: absolute;
    z-index: 1;
    bottom: calc(50% - 20vh);
  }
  .mdm-holder{
    position: relative;
    height: 90%;
    margin: auto;
    max-width: 390px;
    @include for-tablet-portrait-up{
      top: 60px;
    }
    img{
      height: 100%;
      width: auto;
    }
  }
}
.hero5 {
  @include heroBg(5);
  .item__caption{
    margin-bottom: 28vh;
  }
}
.hero-scroll{
  position: absolute;
  z-index: 3;
  bottom: 60px;
  left: calc(50% - 16px);
  width: 34px;
  height: 34px;
  list-style: none;
  padding: 0;
  margin: 0;
  @include for-phone-only(){
    display: none;
  }
  &::before{
    content: '';
    display: block;
    cursor: pointer;
    width:34px;
    height:34px;
    position:absolute;
    margin:auto;
    top:10px;
    right:0;
    left:0;
    border-bottom: 2px solid $white;
    border-right: 2px solid $white;
    transform:rotate(45deg);
    animation:2s arrow infinite;
  }
}

@keyframes arrow {
  0%,100% {
    top:10px;
  }
  50% {
    top:30px;
  }
}

.plus{
  width: 24px;
  height: 24px;
  position: absolute;
  cursor: pointer;
  &:hover{
    animation: .6s plus ease-in-out;
  }
}

@keyframes plus {
  0%,100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
}
