.imagery{
  @include spacing($max-width: null);
  @include fixed-header-reserve;
  @include for-tablet-portrait-up{
    padding-right: 0;
    padding-left: 0;
    .product-combination{
      padding: 0 14px;
    }
    .rtl-orient .product-combination__items{
        flex-direction: row-reverse;
        justify-content: space-between;
        .catalog__items{
          justify-content: flex-end;
        }
    }
  }
}