.live-photos{
  @include spacing($max-width:null);
  @include fixed-header-reserve;
  &__item{
    display: block;
    margin-bottom: 20px;
    img{
      margin: 0 0 8px 0;
      width: 100%;
    }
  }
  @include for-tablet-portrait-up{
    h3{
      margin-bottom: 40px;
    }

    &__row{
      @include flexbox($direction: row);
      margin-bottom: 40px;
      $image-offset: 24px;
      &.ltr-orient{
        justify-content: flex-start;
        .live-photos__item:not(:last-child){
          margin-right: $image-offset;
        }
      }
      &.rtl-orient{
        justify-content: flex-end;
        .live-photos__item:not(:first-child){
          margin-left: $image-offset;
        }
      }
    }
    &__item{
      width: 30%;
      margin-bottom: 0;
      &:hover{
        text-decoration: none;
        cursor: pointer;
      }

    }
  }
}