.navbar-wrapper{
  position: fixed;
  top:0;
  right: 0;
  left: 0;
  z-index: 3;
  background: $white;
}
.inner-page .navbar-wrapper{
  @media (min-width: 1090px) {
    position: static;
    background: transparent;
  }
}

.invert-colors .navbar-wrapper{
  background: transparent;
}

.navbar{
  margin: auto;
  position: relative;
  padding: 20px;
  @include flexbox($direction: row, $justifyContent: flex-start, $alignItems: center, $wrap: wrap);
  @include Gilroy();
  font-size: 15px;
  letter-spacing: .8px;
  @media (min-width: 1090px) {
    flex-wrap: nowrap;
    padding: 30px 19px 30px 16px;
  }
  @media (max-width: 1090px) {
    padding: 30px;
  }
  @media (max-width: 600px) {
    padding: 20px;
  }

  a,
  a:hover{
    text-decoration: none;
  }
  & > div{
    @include flexbox($direction: row, $justifyContent: space-between, $alignItems: center);
  }
  .logo-holder{
    @media (min-width: 1090px) {
      justify-content: flex-start;
    }
  }
  .logo{
    svg{
      width: 80px;
      height: 26px;
      @media (min-width: 600px) {
        width: 120px;
        height: 36px;
      }
    }
  }
  .nav{
    @include flexbox($direction: column, $justifyContent: space-between, $alignItems: flex-start, $wrap: wrap);
    order: 3;
    width: 100%;
    opacity: 1;
    transition: all .5s ease-in-out;
    overflow: hidden;
    max-height: 0;
    //width: 0;
    &.is-active{
      opacity: 1;
      max-height: 100vh;
      //width: auto;
    }
    @media (min-width: 1090px) {
      min-width: 780px;
      margin: auto;
      max-height: inherit;
      width: auto;
      order: inherit;
      flex-direction: row;
      align-items: center;
      flex-shrink: unset;
      opacity: 1;
    }
    &__item{
      margin: 1em 0;
      width: 100%;
      position: relative;
      @media (min-width: 1090px) {
        margin: .5em 0;
        width: auto;
      }
    }
  }

  .order{
    margin-left: auto;
    @media (min-width: 1090px) {
      margin-left: 0;
    }
    svg{
      width: 22px;
      height: 24px;
      margin-left: 4vh;
    }


  }
  .phone-mb{
    display: block;
    margin-top: -3px;
    @media (min-width: 1335px) {
      display: none;
    }
  }
  .phone-dt{
    display: none;
    @media (min-width: 1335px) {
      display: block;
    }
  }
}
.catalog-wrapper .nav{
  @media (min-width: 1090px) {
    margin: 0 auto 0 calc(20% - 120px);
  }
}
.nav-fill{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(black, .2);
  @media (min-width: 1090px) {
    height: 0;
    bottom: auto;
  }
}

.nav-cover{
  position: fixed;
  background: rgba($white, .5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: none;
  opacity: 0;
  transition: opacity .3s linear;
  &.is-active{
    display: block;
    opacity: 1;
  }
}

.invert-colors{
  .nav-cover{
    background: rgba($black, .8);
  }
}