.order-form{
  @include spacing(1100px);
  @media (min-width: 1090px) {
    margin: 0 auto 0 calc(20% - 142px);
  }

  &__cols{
    @include flexbox($direction: column-reverse);
    .user-data{
      .input-group .input-holder{
        width: 100%;
        margin: 0 0 16px 0;
      }
    }
    @include for-tablet-portrait-up(){
      flex-direction: row;
      justify-content: space-between;
      .user-data{
        width: 650px;
        .input-holder{
          width: auto;
        }
      }
      .order-items-holder{
        width: 450px;
        height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
      }
      input::placeholder{
        color: transparent;
      }
    }
  }

  .order-item{
    position: relative;
    &:not(:last-child){
      margin-bottom: 30px;
    }
    .remove{
      display: none;
      @include for-tablet-portrait-up{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        svg{
          width: 12px;
          height: 12px;
        }
      }
    }

    @include flexbox($direction: row, $alignItems: center);
    @include for-tablet-portrait-up(){
      margin-right: 20px;
      align-items: flex-start;
    }
    &__image{
      flex: 0 0 120px;
      @include for-tablet-portrait-up{
        flex: 0 0 100px;
      }
      margin-right: 20px;
    }
    &__actions{
      flex: 1;
    }
    .action-holder{
      margin-top: 8px;
      @include for-tablet-portrait-up{
        margin-top: 0;
      }
    }
    .action{
      @include flexbox($direction: column);
      &:last-child{
        flex-direction: column-reverse;
      }
      & > div{
        margin: 8px 0;
      }
      @include for-tablet-portrait-up{
        & > div{
          margin: 0;
        }
        margin: 20px 0;
        @include flexbox($direction: row, $justifyContent: space-between, $alignItems: center);
        &:last-child{
          flex-direction: row;
        }
      }

      .color-picker{
        margin: 0;
        &::after{
          margin-left: 8px;
          top: -2px;
        }
      }
    }
    &__data{
      &>div{
        margin: 12px 0;
        //min-height: 24px;
      }
      b{
        font-size: 20px;
        font-weight: 600;
      }
      font-size: 18.5px;

    }

  }
  .total{
    border-top: 1px solid $form-input-gray;
    &__count{
      margin: 8px 0 30px;
      @include for-tablet-portrait-up{
        margin: 0;
        font-size: 20px;
      }
    }
    &__count > div{
      display: inline;
      @include for-tablet-portrait-up{
        display: block;
      }
    }
    &__count,
    &__method{
      margin: 0 0 20px;
      @include for-tablet-portrait-up{
        @include flexbox($justifyContent: flex-start);
        flex-direction: row;
        margin: 40px 0;
      }
    }
    &__title{
      min-width: 126px;
    }
  }
}

.order-success{
  @include spacing(980px);
  @include fixed-header-reserve;
  @include flexbox();

  @include for-tablet-portrait-up{
    flex-direction: row;
    justify-content: space-between;
    & > div{
      width: 50%
    }
  }
  p{
    margin-bottom: 20px;
    @include for-tablet-portrait-up{
      margin-bottom: 10px;
    }
  }
  .btn{
    margin: 30px 0;
    width: 100%;
    display: block;
    @include for-tablet-portrait-up{
      display: block;
      width: 324px;
      margin: 40px 0;
    }

  }
  .in-order{
    @include for-tablet-portrait-up{
      margin: 40px 0
    }
  }
  &__item{
    margin: 20px 0;
    @include flexbox($direction: row, $alignItems: center);
    @include for-tablet-portrait-up{
      margin: 30px;
    }
  }
  &__info{
    margin-left: 20px;
    font-size: 18px;
    div:not(:last-child){
      margin-bottom: 14px;
    }
  }
}