.payment-and-delivery{
  @include spacing();
  @include fixed-header-reserve;

  h4{
    margin: 16px 0;
  }
  &__columns{
    @include flexbox();
    @include for-tablet-portrait-up{
      flex-direction: row;
      margin: 40px 0;
      & > div{
        max-width: 360px;
        &:not(:last-child){
          margin-right: 20px;
        }
      }
      h4{
        min-height: 2.5em;
        margin: 0 0 16px;
      }
    }
  }
}