.product-view{
  @include for-tablet-portrait-up{
    padding-right: 20px;
    .navbar{
      padding: 30px 35px;
    }
  }
  .navbar-wrapper{
    position: absolute;
    background: transparent;
    .logo{
      color: $white;
    }
    .order{
      margin-left: auto;
    }
  }

  .hamburger-inner,
  .hamburger-inner::after,
  .hamburger-inner::before{
    background-color: $white;
  }
  @include for-tablet-portrait-up{
    .navbar{
      .nav,
      .tel{
        display: none;
      }
    }
  }

}

.product-holder{
    margin: auto;
    @include flexbox($direction: column);
    &__img{
      img{
        width: 100%;
      }
    }

    @include for-tablet-portrait-up{
      @include flexbox($direction: row);
      &__img{
        flex: 0 0 60%;
        img{
          width: 100%;
          display: block;
        }
      }
    }

  .properties-sticky{
    @include for-tablet-portrait-up{
      width: 36%;
    }
  }
  &__properties{
    padding: 20px;
    .btn{
      display: inline-block;
      margin-bottom: 30px;
      &:first-letter{
        text-transform: uppercase;
      }
    }
    @include for-tablet-portrait-up{
      padding: 100px 68px;
    }
    .prices{
      @include flexbox($direction: row);
      margin: 40px 0 0;
      @include for-tablet-portrait-up{
        flex-direction: column;
      }
      .current{
        @include fluidFontSize(24px, 38px, 600px, $max-width, 30px);
        margin-bottom: 24px;
      }
      .ex{
        font-size: 18px;
        margin-bottom: 30px;
      }
    }


  }
}

