
.product-combination{
  @include spacing($max-width: null);
  @include for-tablet-portrait-up{
    padding-right: 0;
  }
  h2{
    text-align: center;
    margin: 0 0 20px 0;
    @include for-tablet-portrait-up(){
      margin: 60px 0 40px 147px;
      text-align: left;
    }
  }
  &__items{
   @include flexbox($direction: column-reverse, $justifyContent: space-between);
    & > div{
      width: 100%;
      &:last-child{
        margin-bottom: 16px;
      }
    }
    &-img img{
      width: 100%;
    }

    @include for-tablet-portrait-up(){
      flex-direction: row;
      div:first-child{
        width: 46%;
      }
      div:last-child{
        width: 44%;
        margin-bottom: 0;
      }
      .catalog__items .item{
        width: 50% !important;
        padding: 0 20px 0 0;
      }
    }
    @include for-phone-only{
      .catalog__items{
        margin-bottom: 30px;
        justify-content: space-between;
        .item{
          margin: 0;
          width: calc(50% - 12px);
        }
      }
    }
  }
}