.showroom-holder{
  @include spacing($max-width: 1280px);
  flex:1;
  @include fixed-header-reserve;

  .title{
    margin-bottom: 40px;
  }
}
.showroom{
  @include flexbox($wrap: wrap, $justifyContent: space-between);
  @include for-tablet-portrait-up{
    flex-direction: row;
    &>div{
      width: calc(50% - 10px);
    }
  }
  &__map{
    overflow: hidden;
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");
    filter: grayscale(1);
    height: 320px;
    @include for-tablet-portrait-up{
      height: 430px;

    }
  }
  &__images{
    @include flexbox($justifyContent: space-between);
    @include for-desktop-up{
      flex-direction: row;
    }
    div{
      width: 100%;
      img{
        width: 100%;
      }
      @include for-desktop-up{
        width: calc(50% - 10px);
        height: 430px;
      }
    }
  }
  &__addr{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    @include flexbox($direction: row);
    &>div{
      width: 50%;
      @include for-tablet-portrait-up{
        width: 40%;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }
}